/* Add style for the whole webpage */

* {
    border: 2px solid rgb(102, 240, 102);
    padding: 0px;
    margin: 0px;
}

/* Add style for the class */

.box-one {
    background-color: rgb(243, 99, 99);
    border: 3px solid black;
}

/* Add style for the class */

.box-two {
    background-color: rgb(0, 153, 255);
    border: 3px solid brown;
}