/* Add style for the whole webpage */

/* Add style for the class */

.box-one {
    background-color: rgb(243, 99, 99);
    border: 3px solid black;
}

/* Add style for the class */

.box-two {
    background-color:blue;
    border: 3px solid brown;
}