/* Add style to all HTML elements */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}


/* Stylize the first class */

.box-one {
    background-color:orange;
    margin: 15px;
    border: 5px solid purple;
    padding: 10px;
    width:100px;
    height: 100px;
}

/* Stylize second class */

.box-two {
    background-color: red;
    margin:35px;
    padding: 10px;
    border: 5px solid brown;
    width:100px;
    height:100px;
    
}

/*  Stylize third class */

.box-three {
    background-color: green;
    border: 5px solid red;
    inline-size: 200px;
    padding: 50px;
    block-size: 200px;
    margin: 150px;
}

/*  Stylize fourth class */

.box-four {
    margin:150px;
    padding: 15px;
    border: 5px solid gold;
    inline-size: 170px;
    block-size: 200px;
    background-color: silver;
}



/*  Stylize fifth class */

.box-five {
    background-color:aquamarine;
    width:200px;
    height:200px;
    border:5px solid grey;
    padding:75px;
    margin: 40px;
}

/*  Stylize sixth class */

.box-six {
    background-color:black;
    width:50px;
    height:50px;
    border:5px solid red;
    padding:0px;
    margin: 10px;
    color: white;
}


/*  Stylize seventh class */

.box-seven {
    border:10px solid pink;
    padding: 15px;
    width:140px;
}


